In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('jobs.csv')

In [3]:
df

,Unnamed: 0,jid,title,sal,desc
0,0,C40441B39EF9DC8730,Head of Content,\nEmployment Agency\r\n\t\t\t\t\t\tinspiratia\...,\nHead of Content Opportunity inspiratia deli...
1,0,67B2B8C9A90309D587,Senior Renewables Analyst Opportunity,\nEmployment Agency\r\n\t\t\t\t\t\tinspiratia\...,\nSenior Renewables Analyst Opportunity inspi...
2,0,0ACCE919D09D44CD42,Head of Content,\nRate\r\n\t\t\t\t\t\tCompetitive Salary Offer...,\nHead of Content Opportunity inspiratia deli...
3,0,2602604A682569EAD0,Senior Infrastructure Analyst,\nEmployment Agency\r\n\t\t\t\t\t\tinspiratia\...,\nSenior Infrastructure Analyst opportunity i...
4,0,050CA9200FFFBC40AF,Senior Renewables Analyst Opportunity,\nRate\r\n\t\t\t\t\t\tCompetitive Salary Offer...,\nSenior Renewables Analyst Opportunity inspi...
...,...,...,...,...,...
1018,0,860128EF608D6510E9,Business Migration Assurance Lead,\nStart Date\r\n\t\t\t\t\t\tASAP\r\n\t\t\t\t\t,\nBusiness Migration Assurance LeadType - 12 M...
1019,0,CEC36A53D853BF7CEE,Platform Training Specialist,\nEmployment Agency\r\n\t\t\t\t\t\tSpecialist ...,\nPlatform Training & Engagement Specialist Ho...
1020,0,4BD6A42D456C816A65,Business Operations Team Manager,\nEmployment Agency\r\n\t\t\t\t\t\tLloyd Recru...,\nBusiness Operations Team Manager Lloyd Recru...
1021,0,FFD341D7A5B790124B,Temp Legal Services Manager - London - NHS Tru...,\nEmployment Agency\r\n\t\t\t\t\t\tAcorn Recru...,\r\nA London NHS trust is seeking a Qualified ...
1022,0,64C5B02D0A05DEEE17,Software Engineer - Microsoft Dynamics CRM,\nEmployment Agency\r\n\t\t\t\t\t\tLloyds Bank...,\nEnd DateFriday 02 December 2022Salary Range£...

In [4]:
df['sal'] = df['sal'].str.replace('\r\n\t\t\t\t\t\t','')

In [5]:

filt = df['sal'].str.contains('Rate')
df[filt]

,Unnamed: 0,jid,title,sal,desc
2,0,0ACCE919D09D44CD42,Head of Content,\nRateCompetitive Salary Offered GBP\r\n\t\t\t...,\nHead of Content Opportunity inspiratia deli...
4,0,050CA9200FFFBC40AF,Senior Renewables Analyst Opportunity,\nRateCompetitive Salary Offered GBP\r\n\t\t\t...,\nSenior Renewables Analyst Opportunity inspi...
5,0,CD8D90A6B308387C18,"Mid-Level Full Stack Developer - Angular, .Net",\nRate£45k - £50k per annum + Shares & Bonus\r...,\nWe have partnered with a unique financial we...
6,0,DA87099CC81E257603,Designer learning and development,\nRate40.00 Hourly - 40.00 Hourly GBP\r\n\t\t\...,\nRole Title Learning and Development Designer...
10,0,1740D86FA9B1A029B4,Data Scientist - Research and Innovation Lead,\nRate59511.00 - 70755.00 Annual GBP\r\n\t\t\t...,\nContract type: Permanent Location: London or...
...,...,...,...,...,...
987,0,52AFB8A9A43B2B145C,Data Governance Analyst,\nRate£55k - £65k per annum + 10% Bonus\r\n\t\...,\nAre you an experienced Data Governance Analy...
988,0,C3EDBF5729FD880249,Data Quality Analyst,\nRate£55k - £65k per annum + 10% Bonus\r\n\t\...,\nIf you are an experienced Data Quality Analy...
1001,0,65FBC181B72B6E8AE9,Loans Analyst,\nRate£50K + Bonus + Bens\r\n\t\t\t\t\t,"\nLoans Analyst Our client, a financial servic..."
1004,0,57101C5B11A287A855,Scala/Python Development Lead: London - Remote...,\nRate£125k\r\n\t\t\t\t\t,\nScala/Python Development Lead: London - Remo...
1014,0,AB1802F97DA63AC3EE,Specialist Sustainability Lead or Biodiversity...,\nRateGBP\r\n\t\t\t\t\t,\r\nBuilding a sustainable tomorrow BAM is rec...